* {
    margin: 0;

}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
    flex: 1;

}

/* .container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.title{
    font-size: 20px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

/* .second-container{
    display: flex;
    justify-content: space-between;
} */
*/ .title {
    font-size: 20px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.App {
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.price {
    color: grey;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
}

.container button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.description {
    padding: 10px;
}